$bg-nav:#cdcdcd;
$bg-lang-active:#199dfb;
$white:#fff;
$black:#000;
$colorActive:#ccee5d;

$colorBg:#1b0080;
$color-hidden:#19065f;
$color-text-hover:#ccee5d;
$color-text-footer:#deff72;
$color-background-history: #99dd6e;
$color-text-hidden:#604da6;


$color-text: #99dd6e;

$mobile-s:350px;
$mobile:415px;
$tablet: 768px;
$tablet-s: 600px;
$large: 1024px;
$desktop: 1400px;
$laptop:1660px;


$font :  "Montserrat", sans-serif;

